<a href="https://colab.research.google.com/github/Md-Refat-Hosain/Practice-data-codes-python-/blob/main/Random_forest_classifier_practice_(ud_cdm).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
import statistics as st

# Libraries For Text

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

nltk.download('punkt')
nltk.download('stopwords')



from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import confusion_matrix
%matplotlib inline

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
# Read dataset

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Udemy ds course datasets/04+-+decisiontreeAdultIncome.csv')
df

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [4]:
# check null values

In [5]:
df.isna().sum()

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [6]:
# create dummy variables

In [7]:
data_prep = pd.get_dummies(df , drop_first= True )
data_prep

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,True,True,False
1,28,40,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False
2,37,40,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False
3,31,50,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,True
4,42,40,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,True,True,True
19783,22,40,False,False,True,False,False,False,False,False,True,True,False,False,False,False,False,True,True,False
19784,40,40,False,False,True,False,True,False,False,False,False,False,False,True,False,False,False,True,True,True
19785,58,40,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False
19786,22,20,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False

In [8]:
data_prep.columns

Index(['age', 'hours per week', 'wc_ Local-gov', 'wc_ Never-worked',
       'wc_ Private', 'education_ Doctorate', 'education_ HS-grad',
       'education_ Masters', 'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'marital status_ Never-married',
       'marital status_ Widowed', 'marital status_Married',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'gender_ Male', 'IncomeClass_ >50K'],
      dtype='object')

In [9]:
data_prep[['wc_ Local-gov', 'wc_ Never-worked',
       'wc_ Private', 'education_ Doctorate', 'education_ HS-grad',
       'education_ Masters', 'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'marital status_ Never-married',
       'marital status_ Widowed', 'marital status_Married',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'gender_ Male', 'IncomeClass_ >50K']] = data_prep[['wc_ Local-gov', 'wc_ Never-worked',
       'wc_ Private', 'education_ Doctorate', 'education_ HS-grad',
       'education_ Masters', 'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'marital status_ Never-married',
       'marital status_ Widowed', 'marital status_Married',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'gender_ Male', 'IncomeClass_ >50K']].astype('int')


data_prep

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [10]:
X = data_prep.iloc[: , :-1]
y = data_prep.iloc[:,-1]

In [11]:
X_train , X_test , y_train , y_test = train_test_split( X , y , test_size= .3 , random_state= 42 , stratify= y)

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
rfc = RandomForestClassifier(random_state= 42)
rfc.fit(X_train , y_train)
y_preds = rfc.predict(X_test)

In [14]:
from sklearn.metrics import  confusion_matrix

In [15]:
cm = confusion_matrix(y_test , y_preds)
score = rfc.score(X_test , y_test)

In [16]:
cm , score

(array([[3834,  539],
        [ 656,  908]]),
 0.7987198922014486)